*{
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    font-family: sans-serif, Helvetica;
    justify-content: space-between;
    background-color: #1f2937;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    margin: 1em;
}

ul li{
    font-size: 18px;
    color: #e5e7eb;
    display: inline-block;
    margin: 8px;
}

.navbar{
    margin: 1em;
}

.header .mid-page{
    display: flex;
    justify-content: center;
}

.hero{
    size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary{
    size: 18px;
    color: #e5e7eb;
}