*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: #1f2937;
    color: #F9FAF8;
}

.header-top{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 10px;
}

.logo{
    font-size: 24px;
}

li{
    display: inline-block;
    margin-left: 8px;
    font-size: 18px;
}

.hero{
    display: flex;
    margin: 100px;
}

.hero-right, .hero-left{
    flex-basis: 100%;
    padding: 50px;
}

.hero-main{
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary{
    font-size: 18px;
    color: #E5E7EB;
}

img{
    max-height: 250px;
}

.hero-left button{
    margin-top: 10px;
    padding: 5px 20px;
    background-color: #3882F6;
    border-radius: 4px;
    border: 0;
}

.boxes{
    color:#1f2937;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.mid-page{
    background-color: white;
}

.mid-title{
    font-size: 36px;
    font-weight: 900;
}

.square{
    height: 100px;
    width: 100px;
    border: 5px solid blue;
    border-radius: 10px;
    margin: 20px;
}